{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Bootstrap-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

{% endblock head %}


{% block title  %}
Home
{% endblock title %}


{% block body %}
<div id="home">
		<!-- banner -->
		<div class="banner_w3lspvt">
			<!-- nav -->

			<!-- //nav -->
			<!-- banner slider -->
			<div id="homepage-slider" class="st-slider">
				<input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
				<div class="images">
					<div class="images-inner">
						<div class="image-slide">
							<div class="banner-w3ls-1">

							</div>
						</div>
						<div class="image-slide">
							<div class="banner-w3ls-2">

							</div>
						</div>
						<div class="image-slide">
							<div class="banner-w3ls-3">

							</div>
						</div>
					</div>
				</div>
				<div class="labels">
					<div class="fake-radio">
						<label for="slide1" class="radio-btn"></label>
						<label for="slide2" class="radio-btn"></label>
						<label for="slide3" class="radio-btn"></label>
					</div>
				</div>
				<!-- banner-text -->
				<div class="banner-text">
					<fieldset>
						<legend>
							<a href="index.html" class="logo">Easy Way</a>
						</legend>
						<div class="banner-sub-txt">



							<a href="{% url 'searcher' %}" class="btn btn btn-dark">App Searcher</a>
							<a href="{% url 'finder' %}" class="btn btn btn-dark">Keyword Finder</a>
						</div>
					</fieldset>
				</div>
				<!-- //banner-text -->
			</div>
			<!-- //banner slider -->
		</div>
		<!-- //banner -->
	</div>


{% endblock body %}